.menu-horizontal {
  background-color: #24292e;
  padding: 0.5em 0 0.5em 0;
}
.menu-horizontal ul {
  display: flex;
}
.menu-horizontal ul li a,
.menu-lateral ul li a {
  text-decoration: none;
  display: block;
  color: #c8c9cb;
  padding: 0 0.2em 0 0.2em;
}
.menu-horizontal ul li a:hover,
.menu-horizontal ul li a:focus,
.menu-lateral ul li a:hover,
.menu-lateral ul li a:focus {
  color: #fff;
  text-decoration: underline;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.menu-lateral {
  background-color: #24292e;
  margin: 1em 0;
}
.menu-horizontal ul,
.menu-lateral ul {
  list-style: none;
}
.menu-lateral ul {
  padding: 0em 1em;
}
.menu-lateral ul li:hover,
.menu-lateral ul li:focus {
  background-color: #484d53;
}
.menu-lateral ul li a {
  line-height: 2.5em;
}
.menu-lateral h3 {
  text-align: center;
  color: #c8c9cb;
  text-transform: uppercase;
}
#midle,
#smallPicture {
  display: flex;
}
#smallPicture figure img {
  width: 100%;
}
footer {
  background-color: #24292e;
  color: #c8c9cb;
  padding: 1em 0;
}
#direitos {
  background-color: #c8c9cb;
  color: #24292e;
  text-align: center;
  margin-bottom: -1em;
  padding: 0.1em 0;
}
